#countdown {
  width: 100%;
  height: 100px;
  background-image: url("https://images.unsplash.com/photo-1606326608802-164e734c2fd9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 auto;
}

#countdown span {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}

#countdown span:first-child {
  color: #000;
}

#countdown span:nth-child(2) {
  color: #f00;
}

#countdown span:nth-child(3) {
  color: #00f;
}

#countdown span:nth-child(4) {
  color: #ff0;
}

#countdown span:nth-child(5) {
  color: #0f0;
}

#countdown span:hover {
  cursor: pointer;
}
